
/* Navigation placeholder */
[class="col-sm-12"] h1 {
  background-color: #CCE5CC;
}

.contact-summary {
	height: 292px;		
}

div.marketing div.row p {
	text-align: justify;
}
h5{
	display: inline;
}

div.alert-danger{
	text-align: center;
	font-style: bold;
}

h5{
	font-style: bold;
}

img.media-object{
	padding: 5px;
}

div.media-body{
	padding: 5px;
}

div.header{
	padding-top: 25px;
}
div.col-sm-10{
	text-align: center;
}

div.contact-info{
	text-align: center;
	background-color: #E0EBCC;
}

div.panel-address{
	border: solid;
	border-width: 1px;
	border-color: #E6E6E6;
}
div.col-sm-10{
	height: inherit;
}

div.location{
	margin-top: 50px;
}

div.container-fluid{
	height: 100px;
}

div.navbar-nav{
	height: 75px;
}

div.navigation{
	background-color: #CCE680;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a.nav:link, a.nav:visited {
    display: block;
    font-weight: bold;
    width: 100%;
    color: #FFFFFF;
 	padding: 22px;
    background-color: #75A319;
    text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a.nav:hover, a.nav:active {
    color: #FFFFFF;
    background-color: #670FA1;
}

a.nav.active{
	    color: #FFFFFF;
    background-color: #670FA1;
}


img.logo{
	padding: 25px;
}


h4.contact{
	font-weight: bold;
}


img.logo{
	float: left;
}

h2.contact {
  color: #000000;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 1em;
  text-align: center;
}

h5.oh {
	font-weight: bolder;
}


table{
	width: 100%;
}

ul {
    list-style-type: none;
	padding: 0;
}

#sidebar-menu .main-menu a {
    display: block;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	padding: 4px 20px;
}
#sidebar-menu .main-menu a:hover {
	color: #11427D;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #11427D;
}

#sidebar-menu .sub-menu a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
}




































